.wrapper { 
  width: 100%;
  height: 100%;
}

#errorMessage {
  visibility: hidden !important;
}

#errorMessage.visible {
  visibility: visible !important;
}

.wrapper .form-custom {
  min-height: 50%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
};